<template>
  <div class="disc">
    <h1>{{ disciplina.codigo_disciplina }}: {{ disciplina.nome }}</h1>
    <h4>Créditos Aula: {{disciplina.creditos_aula}} | Créditos Trabalho: {{disciplina.creditos_trabalho}} 
       | Carga Horária: {{disciplina.carga_horaria }} </h4>
    <h5>Ementa: </h5>
    <p>{{disciplina.ementa}}</p>
  </div>
</template>

<script>
export default {
   data() {
    return {
      disciplina: '',  
    };
  },
  created() {
    this.$axios.$get(`/disciplinas?id_disciplina=eq.${this.$route.params.id}`)
      .then(value => {
        this.disciplina = value[0]
      })
  }
}
</script>

<style lang="scss">
.disc{
/* Grid to position the cell itself */
  grid-area: footer;
  place-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  overflow: scroll;
  flex-direction: column;
  justify-content: center;
  align-items: center;} 
</style>
