<template>
  <div class="plano">
    <h1>Plano {{ this.$route.params.id }}</h1>
    <div class="pl_bottom">
      <div v-for="disciplina in disciplinas" :key="disciplina.id_disciplina">
        <div class="mod_disc">
          <disciplina :id_disciplina="disciplina.id_disciplina"></disciplina>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Disciplina from './../../components/Disciplina.vue' 

export default {
    components: {
    Disciplina, 
  },
  data() {
    return {
      disciplinas: []
    }
  },
  created() {
    this.$axios.$post(`/rpc/get_disciplinas_plano`, {
      aluno: this.$store.getters.getIdPessoa, 
      plano: this.$route.params.id
    })
      .then(value => {
        this.disciplinas = value
     })
  }
}
</script>

<style lang="scss">
.plano {
  padding-left: 10px;
  width: fill;
  height: fill;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  justify-content: left;
}
.pl_bottom {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}
</style>
