<template>
    <div class=".cruds__id">
        <div class="new_input"> Email: <input type="email" value="email" v-model="email"/></div>
        <div class="new_input"> CPF: <input type="text" value="cpf" v-model="cpf"/></div>
        <div class="new_input"> Nome: <input type="text" value="nome" v-model="nome"/></div>
        <div class="new_input"> Data de Nascimento: <input type="date" value="nascimento" v-model="nascimento"/></div>
        <div class="new_input"> NUSP: <input type="text" value="nusp_professor" v-model="nusp_professor"/></div>
        <div class="new_input"> Departamento: <input size="50" type="text" value="departamento" v-model="departamento"/></div>
        <div class="new_input"> Sala: <input type="text" value="sala" v-model="sala"/></div>
         <router-link to='/professores'>
            <button type="submit" @click="save" @submit.prevent>Salvar</button>
        </router-link>   
        <h2>Disciplinas</h2>
        <div class="l_disc">
            <div v-for="disciplina in disciplinas" :key="disciplina.id_disciplina">
                <div class="prof_disc">
                <disciplina :id_disciplina="disciplina.id_disciplina"></disciplina>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import Disciplina from '@/components/Disciplina.vue' 

export default {
    components: {
        Disciplina, 
    },
    data() {
        return {
            disciplinas: [],
            id_pessoa: '',
            email: '',
            cpf: '',
            nome: '', 
            nascimento: '',
            nusp_professor: '', 
            departamento: '',
            sala: '',
        };
    },
    created() {
        this.id_pessoa = this.$route.params.id; 
        this.$axios.$post(`/rpc/all_professores?id_pessoa=eq.${this.$route.params.id}`, {

        })
        .then(value => {
            this.email = value[0].email_usuario
            this.cpf = value[0].cpf
            this.nome = value[0].nome
            this.nascimento = value[0].nascimento
            this.nusp_professor = value[0].nusp_professor
            this.departamento = value[0].departamento
            this.sala = value[0].sala

        });

        this.$axios.$get(`/professores_oferecem_disciplinas?select=id_disciplina&id_pessoa=eq.${this.$route.params.id}`)
        .then(value => {
            this.disciplinas = value
        })
    },
    methods: {
        async save() {
            console.log("Mano, olha esse token");
            console.log(`Bearer ${this.$store.getters.getToken}`);
 
            
            this.$axios.defaults.headers.common['Authorization'] = `Bearer ${this.$store.getters.getToken}`;

            const can_access = await this.$axios.$post("/rpc/autorizar",{
                caminho_servico: "/pessoas"
            })

            console.log("Posso acessar?");
            console.log(can_access);

            this.$axios.defaults.headers.put['Content-Type'] = 'application/x-www-form-urlencoded';
            this.$axios.defaults.headers.put['Access-Control-Allow-Origin'] = '*';
            this.$axios.defaults.headers.put['Access-Control-Allow-Headers'] = '*';
            this.$axios.defaults.headers.put['Access-Control-Allow-Methods'] = 'GET, POST, PUT, DELETE, OPTIONS';
            console.log(`vou tentar atualizar a pessoa ${this.id_pessoa}`);

            let response = await this.$axios.$patch(`/pessoas?id_pessoa=eq.${this.id_pessoa}`, {
                id_pessoa: this.id_pessoa,
                cpf: this.cpf,
                nome: this.nome,
                nascimento: this.nascimento,
            })

            response = await this.$axios.$patch(`/professores?id_pessoa=eq.${this.id_pessoa}`, {
                id_pessoa: this.id_pessoa,
                nusp_professor: this.nusp_professor,
                departamento: this.departamento,
                sala: this.sala
            })        

            console.log(`nome ${this.nome}`);
            response = await this.$axios.$get(`/pessoas?nome=eq.${this.nome}`)
            .then(value => {
            console.log("GET PESSSOAS SUCESSO")
            console.log(value)
            id_criado = value[0].id_pessoa
            })
            .catch(function (error) {
            console.log("GET PESSOAS FRACASSO");
            console.log(error);
            });        
        }
    }
}
</script>

<style>
.cruds__id {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l_disc {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    overflow: scroll;
}

</style>
