<template>
  <div class=".cruds__index">
    <h1>Professores</h1>

    <ul v-for="professor in professores" :key="professor.id_pessoa">
        <li>
            {{ professor.nome }} 
            <router-link :to="{ 
                path: `/professores/${professor.id_pessoa}`, 
                component: 'pages/professores/_id.vue', 
                }">
              <img src="@/assets/info.svg" alt="info" class="info">
            </router-link>
              <img src="@/assets/delete.svg" @click="deleteProf(professor.id_pessoa)" alt="info" class="delete">
        </li>
    </ul>
    <router-link :to="{ 
        path: `/professores/new`, 
        component: 'pages/professores/new.vue', 
        }">
    <a> Novo Professor </a>
    </router-link>

  </div>
  
</template>

<script>
import Professor from '@/components/Professor.vue'

export default {
  components: {
    Professor
  },

  data() {
    return {
      professores: [] 
     };
  },

  created() {
    console.log("CREATEDDD")
    this.$axios.$post("/rpc/all_professores", {})
    .then(values => {
      this.professores = values
      console.log(this.professores)
    })
  },
  test() {
    console.log(professores)
  },

  methods: {
    deleteProf(id_pessoa) {
      console.log("DELETANDO")
      console.log(id_pessoa)
      this.$axios.defaults.headers.common['Authorization'] = `Bearer ${this.$store.getters.getToken}`;
      
      this.$axios.$delete(`/pessoas?id_pessoa=eq.${id_pessoa}`)
      .then(response => {
        console.log(response);
        this.$router.go('/professores')
      })
      .catch(function (error) {
        console.log(error);
      });
    }
  }
  
}
</script>

<style lang="scss">
.cruds__index {
  overflow: scroll;
}
</style>
