<template>
  <div class="planejamento" > <!-- -->
    <obrigatorias/>
    <div  v-for="trilha in trilhas" :key="trilha.id_trilha">
      <div class="pl_trilha" > <!-- -->
        <trilha :trilha="trilha"></trilha> <!---->
        <!--<disciplina :codigo="disciplina.codigo_disciplina"></disciplina>-->
      </div>
    </div>
   </div>
</template>

<script>
import Trilha from '@/components/Trilha.vue'
import Obrigatorias from '@/components/Obrigatorias.vue'

export default {
  components: {
    Trilha, 
    Obrigatorias
  }, 
  data() {
    return {
      trilhas: [], 
    };
  },

  // Initialize elements in 'data' before rendering page.
  // More info at: https://nuxtjs.org/api/
  async asyncData({ app }) {
    return {
      trilhas: await app.$axios.$get("/trilhas")
    }
    console.log(trilhas)
  }
}
</script>

<style>
.planejamento {
  padding-left: 10px;
  width: fill;
  height: fill;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  justify-content: left;
}

.pl_trilha {
  align-self: start;
  align-text: left;
}

</style>
