<template>
  <div class="cred_details">
    <div class="cred_top">
      {{ input }}
    </div>
    <div class="cred_bottom">
      <div class="cred_done">{{ feitos }} </div>
      <div class="cred_fazendo"> + {{ fazendo }}</div> 
      <div class="cred_total">/ 40</div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['input'],
  data() {
    return {
      feitos: '',
      fazendo: '',
    }
  },
  created() {
    let q = this.input.toLowerCase();
    console.log(q)
    this.$axios.$post(`/rpc/get_creditos_${q}_feitos`, { 
      aluno: this.$store.getters.getIdPessoa
    })
    .then(value => {
      if (value == null) {
        this.feitos = 0
      }
      else {
        this.feitos = value
      }

    })

    this.$axios.$post(`/rpc/get_creditos_${q}_fazendo`, { 
      aluno: this.$store.getters.getIdPessoa
    })
    .then(value => {
      console.log(value)
      if (value == null) {
        this.fazendo= 0
      }
      else {
        this.fazendo = value
      }
    })
  }
}
</script>

<style lang="scss">

.cred_details {
  padding-right: 50px;
  padding-left: 50px;
  width: 200px;
  height: 80px;
  margin-top: 10px;

  color: #1E64CD;
  display: flex;
  flex-direction: column;
}

.cred_top {
  padding-bottom: 10px;
}

.cred_bottom  {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.cred_feitos {
  color: #1E64CD;
}

.cred_fazendo {
  color: #F49F0A;
  padding-left: 4px;
}
</style>
