<template>
  <div class="disc">

    
    <div v-if="discInProgress()" class='disc_circle_inprogress'>
      <img src="../assets/create.svg" alt="inProgress" class="icon">
    </div>
    <div v-else-if="discDone()" class='disc_circle_done'>
      <img src="../assets/done.svg" alt="done" class="icon">
    </div>
    <div v-else class='disc_circle'></div>
    <div class='disc_info'>
      {{ disciplina.codigo_disciplina}}
      <router-link :to="{ 
        path: `/disciplina/${disciplina.id_disciplina}`, 
        component: 'pages/disciplina/_id.vue', 
        }">
        <img src="../assets/info.svg" alt="info" class="info">
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  props: ['id_disciplina'], 
  data() {
    return {
      disciplina: '',  
    };
  },
  created() {
    console.log(this.id_disciplina)
    console.log(this.$store.getters.getDiscFeitas.indexOf(this.id_disciplina) != -1)
    this.$axios.$get(`/disciplinas?id_disciplina=eq.${this.id_disciplina}`)
      .then(value => {
        this.disciplina = value[0]
      })
  }, 
  methods: {
    discDone(){
      return (this.$store.getters.getDiscFeitas.indexOf(this.id_disciplina) != -1)
    },
    discInProgress() {
      return (this.$store.getters.getDiscFazendo.indexOf(this.id_disciplina) != -1)
    }
  }
}
</script>

<style>
.disc{
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 
.disc_info {
  padding-top: 5px; 
}

.disc_circle {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.disc_circle_done {
  height: 50px;
  width: 50px;
  background-color: #1E64CD;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.disc_circle_inprogress {
  height: 50px;
  width: 50px;
  background-color: #F49F0A;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  width: 30px;
  height: 30px;
  filter: invert(100%) opacity(90%);
  padding-left: 10px;
  padding-bottom: 2px;
}

.info {
  filter: invert(50%) opacity(90%);
}
</style>
