<template>
  <div class=".aside__login">
    <h2 class="text">Bem Vindo</h2>
    <router-link to='\'>
      <div class="l_input"><button type="submit" @click="logout" @submit.prevent>
        Log Out
      </button></div>
    </router-link>
  </div>
</template>

<script>
export default {
   methods: {
    async logout() {
      this.$store.commit("setToken", { token: "" });
      this.$store.commit("setIdPessoa", { id_pessoa: -1 });
      this.$store.commit("setIsAdmin", { is_admin:false });
    }
  }
}
</script>

<style lang="scss">
.aside__login {

}
.text {
  color: white;
  padding: 5px
} 
</style>
