<template>
  <div class=".aside__login">
    <h4 class="text">Login</h4>
    <div class="l_input"><input  type="email" placeholder="Email" v-model="email"/></div>
    <div class="l_input"><input type="password" placeholder="Senha" v-model="password"/></div>
    <div class="l_input"><button type="submit" @click="login" @submit.prevent>
      Login
    </button></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
    }
  },

  methods: {
    async login() {
      // User Login setup
      console.log(`User: ${this.email} ${this.password}`);
       
      const token = await this.$axios.$post("/rpc/autenticar", {
        email: this.email, 
        senha: this.password
      }) 
      .catch(function (error) {
        if (error.response.status == 403) {
          console.log(`Forbideen acess`);
          location.href = '/';
        } else {
          console.log(`Vacilo nosso`)
        }
      });
      let id_pessoa = await this.$axios.$post("/rpc/get_id_pessoa", {
        email: this.email
      });
      id_pessoa = id_pessoa[0].id_pessoa;
      
      console.log(`Token: ${token}`);
      console.log(`Id Pessoa: ${id_pessoa}`);
      this.$store.commit("setIdPessoa", { id_pessoa });
      this.$store.commit("setToken", { token });

      this.$axios.$get(`/administradores?select=id_pessoa&id_pessoa=eq.${ id_pessoa }`)
      .then(value => {
        console.log(`isadmin ${value.length}`);
        if (value.length === 0) {
          this.$store.commit("setIsAdmin", { is_admin:false });
        }
        else {
          this.$store.commit("setIsAdmin", { is_admin:true });
        }
      });
  
      // User data setup
      const feitas = await this.$axios.$post(`/rpc/get_disciplinas_feitas`, {
        aluno: id_pessoa
      });
      const fazendo = await this.$axios.$post(`/rpc/get_disciplinas_fazendo`, {
        aluno: id_pessoa
      });
      let disc_feitas = feitas.map((v) => v.id_disciplina);
      let disc_fazendo = fazendo.map((v) => v.id_disciplina);
      
      this.$store.commit("setDiscFeitas", { disc_feitas });  
      this.$store.commit("setDiscFazendo", { disc_fazendo });  
    }
  }
}
</script>

<style>
.aside__login {
}
.text {
  color: white;
  padding: 5px
} 
.l_input {
  padding: 5px;
}

</style>
