<template>
  <div class="modulo">
    <h5>{{ modulo.codigo_modulo }} </h5>
    <div class="mod_bottom">
      <div v-for="disciplina in disciplinas" :key="disciplina.id_disciplina">
        <div class="mod_disc">
          <disciplina :id_disciplina="disciplina.id_disciplina"></disciplina>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Disciplina from '@/components/Disciplina.vue' 

export default {
  props: ['modulo'], 
  components: {
    Disciplina, 
  },
  data() {
    return {
      disciplinas: [], 
    };
  },
  created() {
    this.$axios.$get(`/optativas_compoem_modulos?select=id_disciplina&id_modulo=eq.${this.modulo.id_modulo}`)
    .then(value => {
      this.disciplinas = value
    })
  }
}
</script>

<style>
.modulo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-bottom: 2px solid #d7dbdd;
}
.mod_bottom {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}
</style>
