<template>
  <div :class="accordionClasses">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="obrig" @click="toggleAccordion">
      <div class="selection_bar">
        <template v-if="!this.isOpen">
          <i class="fa fa-caret-right" style="font-size:24px"></i>
        </template>
        <template v-else>
          <i class="fa fa-caret-down" style="font-size:24px"></i>
        </template>
        <h3 class="titulo_trilha">
            Obrigatórias
        </h3>
      </div>
      <div class=accordion_body>
        <div class=accordion_body>
            <div class="obr_disc">
                <div v-for="disciplina in disciplinas" :key="disciplina.id_disciplina">
                    <disciplina class="obr_d" :id_disciplina="disciplina.id_disciplina"></disciplina>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Disciplina from '@/components/Disciplina.vue' 

export default {
  components: {
    Disciplina, 
  },
  data() {
    return {
      disciplinas: [], 
      isOpen: false,
    };
  },
  created() {
    this.$axios.$get(`/grade_obrigatoria?select=id_disciplina`)
    .then(value => {
      this.disciplinas = value
    })
  },
  computed: {
    accordionClasses: function() {
      return {
        'is-closed': !this.isOpen,
        'is-primary': this.isOpen,
        'is-dark': !this.isOpen
      };
    }
  },
  methods: {
    toggleAccordion: function() {
      this.isOpen = !this.isOpen;
    }
  },
}
</script>

<style>
.obrig {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  cursor: pointer;
}
.obr_disc {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

</style>