<template>
    <div class="planos">
        <div class="pl_list" v-for="plano in planos" :key=plano.id_plano>
            <router-link tag="li" class="item_aside"  :to="{ 
                path: `/planos/${plano.id_plano}`, 
                component: 'pages/planos/_id.vue', 
                }">
                <a> Plano {{ plano.id_plano }} </a>
            </router-link>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            planos:[]
        }
    },
    created() {
        this.$axios.$get(`/alunos_planejam_disciplinas?select=id_plano
          &id_pessoa=eq.${this.$store.getters.getIdPessoa}`)
            .then(value => {
                this.planos = value.filter((v, i, a) => a.indexOf(v) === i) 
            })
    }
}
</script>

<style>
pl_list {
    width: fill;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

pl_li a {
    border-bottom: 1px solid #d7dbdd;
    display: block;
    color: slategrey;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
pl_li a:hover, .router-link-active {
    background-color: lightgrey;
    color: slategrey;
}

pl_li a:focus {
    font-weight: bold;
    background-color: lightgrey;
    color: black;
}
</style>

