<template>
    <div>
        {{ disciplina.codigo_disciplina}}
    </div>
</template>

<script>
export default {
    props: ['id_pessoa'],

    data() {
        return {
           disciplinas: [],
        };
    },
    created() {
        this.$axios.$post(`/rpc/get_disciplinas_prof`,{
            pessoa: this.id_pessoa
        })
        .then(value => {
            this.disciplinas = value
        })
    }
}
</script>

<style>
.disc{
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 
.disc_info {
  padding-top: 5px; 
}

.disc_circle {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}


</style>
