<template>
  <aside class="aside">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <div class="aside_top">
      <template v-if="logged">
        <logged/>
      </template>
      <template v-else>
        <login/>
      </template>
    </div>
    <div class="aside_bottom">
      <ul class="list_aside">
        <router-link tag="li" class="item_aside" to='/'>
          <a>Curso</a>
        </router-link>
        <template v-if="logged">
          <planos></planos>
          <div class="add_plano">
          <router-link tag="li" class="item_aside" to='/'>
            <b><i class="material-icons" style="font-size:30px">playlist_add</i> </b>
            <a>Adicionar Plano </a>
          </router-link>
          </div>
        <div v-if="admin"><router-link  tag="li" class="item_aside"  to='/professores'>
            <a>Professores</a>
          </router-link>          
        </div>
        </template>
     </ul>
    </div>
  </aside>
</template>

<script>
import Login from '@/components/Login.vue';
import Logged from '@/components/Logged.vue';
import Planos from '@/components/Planos.vue';

export default {
   components: {
    Login,
    Logged,
    Planos
  }, 

  computed: {
    logged() {
      return this.$store.getters.isAuthenticated;
    }, 
    admin() {
      return this.$store.getters.isAdmin;
    }
  },
}
</script>

<style>
.aside {
  /* Grid to position the cell itself */
  grid-area: aside;
  justify-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;
  
}
.aside_top {
  background: #1E64CD;
  
  width: fill;
  height: 200px; 
}

.aside_botton {
  width: fill;
  height: fill; 
}

ul.list_aside {
    width: 250px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    text-align: center;
}

.add_plano {
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

li.item_aside {
    border-bottom: 1px solid #d7dbdd;
    display: block;
    padding: 8px 16px;
}

li.item_aside b {
    color: slategrey;
    text-decoration: none;  
    padding-right: 5px;
}

li.item_aside a {
    color: slategrey;
    text-decoration: none;
}

/* Change the link color on hover */
li.item_aside :hover, .router-link-active {
    background-color: lightgrey;
    color: slategrey;
}

li.item_aside :focus {
    font-weight: bold;
    background-color: lightgrey;
    color: black;
}

</style>
