<template>
  <footer class="footer">
    <template v-if="logged">
      <div class="footer_top">
        <h4>Contagem de Créditos</h4>
      </div>
      <div class="footer_bottom">
        <creditos input="Obrigatorias"></creditos>
        <creditos input="Eletivas"></creditos>
        <creditos input="Livres"></creditos>
      </div>
    </template>
  </footer>
</template>

<script>
import Creditos from '@/components/Creditos.vue'

export default {
  components: {
    Creditos, 
  }, 
  computed: {
    logged() {
      return this.$store.getters.isAuthenticated;;
    }
  }
}
</script>

<style>
.footer {
  /* Grid to position the cell itself */
  grid-area: footer;
  place-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: fill;
}
.footer_top {
  background:  #1E64CD;
  
  flex-grow: 1;
  width: fill;
  height: 30px; 
  align-self: start;
  
  padding-left: 5px;
  padding-bottom: 20px;
  color: white;
}
.footer_bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

</style>
