<template>
  <nav class="navbar">
    <div class="navbar_top">
      <div class="logo">DBZ</div>
      <div class="logo"> oi</div>
    </div>
    <div class="navbar_bottom">
        <div v-for="semestre in semestres" :key="semestre.id">
          <h3>{{semestre}}</h3>
        </div>
    </div>
  </nav>
</template>

<script>
    export default {
      data() {
        return {
          semestres: ["Semestres:", "Geral ", "| ", "1°" ,"| ", "2°", "|", "3°"," | ", "4°"," | ", "5°","| ", "6°", "| ", "7°", "| ", "8°" ,"| ",
          "+", "Adicionar"]
        };
      }  
    }
</script>

<style>
.navbar {
  /* Grid to position the cell itself */
  display: flex;
  flex-direction: column;
  /* FIXME: Border to highlight */
  /*border: 8px solid blue;*/
  height: 100px;
  background-color: #1E64CD;
}
.navbar_top {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    padding: 10px;
    height: 3em;
    background-color: #1E64CD;
}
.logo {
  align-self: baseline;
  color: white;
  padding-bottom: 10px;
  font-size: 35px;
}
.navbar_bottom {
    padding-left: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-basis: 100px;
    justify-self: start;
    align-self: center;
    /*text-align: center;*/

    /*box-sizing: border-box;*/
    width: fill;
    color: #1E64CD;
    background-color: white;
}

h3 {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding-right: 12px;
}

</style>