<template>
  <div :class="accordionClasses">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="trilha" @click="toggleAccordion">
      <div class="selection_bar">
        <template v-if="!this.isOpen">
          <i class="fa fa-caret-right" style="font-size:24px"></i>
        </template>
        <template v-else>
          <i class="fa fa-caret-down" style="font-size:24px"></i>
        </template>
        <h3 class="titulo_trilha">
          {{ trilha.nome }}
        </h3>
      </div>
      <div class=accordion_body>
        <div  v-for="modulo in modulos" :key="modulo.id_modulo">
          <div class="tr_modulo">
            <modulo :modulo="modulo"></modulo>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Modulo from '@/components/Modulo.vue' 
export default {
  props: ['trilha'], 
  components: {
    Modulo, 
  },
  data() {
    return {
      modulos: [], 
      isOpen: false,
    };
  },
  computed: {
    accordionClasses: function() {
      return {
        'is-closed': !this.isOpen,
        'is-primary': this.isOpen,
        'is-dark': !this.isOpen
      };
    }
  },
  methods: {
    toggleAccordion: function() {
      this.isOpen = !this.isOpen;
    }
  },
  created() {
    this.$axios.$get(`/modulos?id_trilha=eq.${this.trilha.id_trilha}`)
    .then(value => {
      this.modulos = value
    })
  }
}
</script>

<style>
.trilha {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  cursor: pointer;
}

.titulo_trilha {
  padding-left: 10px;
}

.selection_bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color:#1E64CD;
}

.accordion_body {
  font-size: 16px;
  padding: 0;
  max-height: 300em;
  overflow: hidden;
  transition: 0.15s ease all;
}

.is-closed .accordion_body {
  max-height: 0;
}

.is-dark .accordion_body {
  
}

</style>
